.container {
  text-align: center;
  padding: 1.5rem 0 0;
  margin-bottom: 2rem;
}

.title {
  color: var(--color-text-title);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.description {
  color: var(--color-text-description);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
