.container {
  flex: 1;
  position: relative;
  margin: 100px auto 0;
  width: 100%;
  padding: 0 2rem;
  animation: fade-in 0.5s ease;
}

.sm {
  max-width: 768px;

  @media screen and (max-width: 1536px) {
    max-width: 768px;
  }

  @media screen and (max-width: 1280px) {
    max-width: 768px;
  }

  @media screen and (max-width: 1024px) {
    max-width: 768px;
  }
}

.md {
  max-width: 1024px;

  @media screen and (max-width: 1536px) {
    max-width: 1024px;
  }

  @media screen and (max-width: 1280px) {
    max-width: 768px;
  }

  @media screen and (max-width: 1024px) {
    max-width: 768px;
  }
}

.lg {
  max-width: 1280px;

  @media screen and (max-width: 1536px) {
    max-width: 1024px;
  }

  @media screen and (max-width: 1280px) {
    max-width: 768px;
  }

  @media screen and (max-width: 1024px) {
    max-width: 768px;
  }
}
