.container {
  border-left: 3px solid var(--color-text-primary);
  margin-left: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-sizing: border-box;

  > *:first-child,
  > *:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }
}
