.article {
  appearance: none;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: unset;
  position: relative;
  display: flex;
  padding: 1rem 1.25rem;
  margin: 0.5rem -1.25rem;
  border-radius: 0.2rem;
  color: var(--color-text-primary);
  transition:
    color 0.3s,
    background-color 0.3s,
    box-shadow 0.3s;

  &:hover {
    background-color: var(--color-background-hover);
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0 2px var(--color-background-focus);
  }
}

.section {
  flex: 1;
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--color-text-title);
  text-decoration: none;
}

.excerpt {
  margin: 0.25rem 0;
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--color-text-paragraph);
}

.thumbnail {
  flex-basis: 30% !important;
  margin-left: 1rem !important;
}

.link {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background: none !important;
}
