.link {
  display: flex !important;
  text-align: start !important;
  gap: 1rem !important;
  padding: 1rem !important;
  border-bottom: none !important;
}

.avatar {
  overflow: hidden !important;
  width: 3.75rem !important;
  height: 3.75rem !important;
  flex-basis: 3.75rem !important;
  border-radius: 50% !important;
}

.section {
  flex: 1;
  display: block;
  overflow: hidden;
}

.name {
  display: block;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-text-paragraph);
}

.text {
  display: block;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.5;
  font-size: 0.8rem;
  color: var(--color-text-paragraph);
}
