.heading {
  position: relative;
  text-align: center;
  color: var(--color-text-paragraph);
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2.5rem;
  margin-bottom: 0.75rem;
  padding-bottom: 0.25rem;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    display: block;
    height: 2.5px;
    width: 2rem;
    background: linear-gradient(var(--color-text-primary) 30%, var(--color-text-primary) 70%);
    box-shadow: var(--color-text-primary) 0 1px 3px;
    border-radius: 4px;
    transition:
      all 0.25s ease 0s,
      color 0.3s,
      background-color 0.3s;
    z-index: 1;
  }
}

.link {
  display: flex !important;
  text-align: start !important;
  gap: 0.5rem !important;
  padding: 1rem !important;
  border-bottom: none !important;
}

.left {
  flex: 1;
  display: block;
  overflow: hidden;
}

.name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-text-paragraph);

  span:nth-child(1) {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.text {
  display: block;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.5;
  font-size: 0.8rem;
  color: var(--color-text-paragraph);

  @supports (-webkit-line-clamp: 2) {
    display: -webkit-box;
    text-overflow: ellipsis;
    white-space: initial;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.component {
  color: var(--color-text-description) !important;
  width: 0.9rem !important;
  height: 0.9rem !important;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
}

.icon {
  color: var(--color-text-description) !important;
  width: 1.4rem !important;
  height: 1.4rem !important;
}

.github {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
  color: var(--color-text-description);
  font-size: 0.5rem;
  line-height: 1;
  min-width: calc(4ch + 1.4rem);
  white-space: nowrap;

  svg {
    width: 0.9rem !important;
    height: 0.9rem !important;
  }
}
