.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  margin: 1rem 0;
}

.gap {
  gap: 0.25rem !important;
}

.active {
  background-color: var(--color-text-primary) !important;
  color: var(--color-background-full) !important;
}

.more {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.two_container {
  display: flex;
  margin: 1rem 0;
  padding: 0;
  gap: 0.5rem;
}

.two_link {
  gap: 0.25rem !important;
  padding: 1rem !important;
  font-size: 1.2rem !important;
  flex: 1 !important;
  text-align: center !important;
  justify-content: center !important;
}

.icon_left {
  --icon: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221.1rem%22%20height%3D%221.1rem%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22m10.828%2012l4.95%204.95l-1.414%201.415L8%2012l6.364-6.364l1.414%201.414z%22%2F%3E%3C%2Fsvg%3E);
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  color: inherit;
  background-color: currentColor;
  -webkit-mask: var(--icon) no-repeat;
  mask: var(--icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.icon_right {
  --icon: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221.1rem%22%20height%3D%221.1rem%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22m13.172%2012l-4.95-4.95l1.414-1.413L16%2012l-6.364%206.364l-1.414-1.415z%22%2F%3E%3C%2Fsvg%3E);
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  color: inherit;
  background-color: currentColor;
  -webkit-mask: var(--icon) no-repeat;
  mask: var(--icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
