.container {
  position: relative;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 1.25rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  a {
    text-decoration: underline;
  }

  p {
    margin: 0.0625rem;
  }

  p,
  a,
  span {
    color: var(--color-text-description);
    font-size: 0.875rem;
  }
}
