.link {
  background:
    linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, var(--color-background-focus), var(--color-background-focus));
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  background-size:
    100% 40%,
    0 40%;
  color: var(--color-text-primary);
  text-decoration: none;
  transition:
    background-size 0.3s,
    color 0.3s,
    background-color 0.3s;
}

.link.active,
.link:hover,
.link:focus,
.link:active {
  background-size:
    0 40%,
    100% 40%;
}
