.container {
  position: relative;
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  filter: var(--image-filter);
  transition: filter 0.3s;
}

.placeholder {
  position: relative;
  inset: 0;
  display: block;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: none;
  transition: filter 0.3s ease-out;
}

.image[loading="lazy"][style*="background-image"] {
  filter: blur(8px);
}
