.container {
  position: absolute;
  top: 0;
  right: -1rem;
  padding: 0.25rem;
  width: 250px;
  height: 100%;
  transform: translateX(100%);

  @media screen and (max-width: 1280px) {
    display: none;
  }

  > ul {
    position: sticky;
    top: 40px;
    margin: 0;
    padding: 0;
    opacity: 0.5;
    overflow-y: auto;
    overflow-x: hidden;
    transition:
      opacity 0.6s,
      color 0.3s,
      background-color 0.3s;
  }

  &:hover {
    > ul {
      opacity: 1;
    }
  }
}

.icon {
  --icon: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221.1rem%22%20height%3D%221.1rem%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M3%204h18v2H3zm0%207h12v2H3zm0%207h18v2H3z%22%2F%3E%3C%2Fsvg%3E);
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  color: inherit;
  background-color: currentColor;
  -webkit-mask: var(--icon) no-repeat;
  mask: var(--icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;

  margin: 0.5rem;
  color: var(--color-text-paragraph);
  height: 1.5rem;
  width: 1.5rem;
}

.list {
  gap: 0.25rem;
  padding-left: 1rem;
  display: flex;
  list-style: none;
  flex-direction: column;
}

.item {
  margin: 0 0.625rem;
  color: var(--color-text-description);
  font-size: 0.9rem;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;

  a {
    display: inline;
    font-size: 0.9rem;
    color: var(--color-text-description);
  }
}
