.base {
  font-size: 0.9rem;
  padding: 1.25rem 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.info {
  composes: base;

  color: var(--color-info-text);
  background-color: var(--color-info-background);
}

.warn {
  composes: base;

  color: var(--color-warn-text);
  background-color: var(--color-warn-background);
}

.success {
  composes: base;

  color: var(--color-success-text);
  background-color: var(--color-success-background);
}

.error {
  composes: base;

  color: var(--color-error-text);
  background-color: var(--color-error-background);
}
